[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "RDM"]
	path = RDM
	url = https://github.com/christopherstrothmann/rdm
	shallow = true
	registered = true
